[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ds2 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
ds2viz = {editable = true,path = "."}

[requires]
python_version = "3.7"
